* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

input,
textarea,
select {
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  padding: 0 12px;
}

.header > .container {
  text-align: center;
  font-size: 30px;
  margin-bottom: 20px;
}

.catalog__cards {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .catalog__cards {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
  }
}

@media (min-width: 1024px) {
  .catalog__cards {
    grid-template-columns: repeat(4, 1fr);
    gap: 18px;
  }
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  text-align: center;
  gap: 15px;
  padding: 15px 0;
  width: 280px;
  border: thick double #32a1ce;
}

.card__wrapper {
  max-width: 160px;
  max-height: 160px;
}

.card__image {
  width: 100%;
  height: 100%;
}

.card__title {
  font-size: 28px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  overflow: hidden;
}

.card__price {
  font-size: 24px;
  font-weight: bold;
  color: #32a1ce;
}

.card__description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.footer h2 {
  text-align: center;
}
